.ChatListButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ChatListButtons span{
    width: 50px;
    height: 50px;
    color: var(--text);
}

.ChatListButtons span:hover{
    background: var(--message);
}