.CreateGroup{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 2;
    width: calc(100% - 40px);
    max-width: 450px;
    padding: 20px;
    background: var(--body);
    opacity: 0;
    pointer-events: none;
    user-select: none;
    border: 1px solid var(--gray);
}

.CreateGroup.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}