#About{
    margin-top: 90px;
}

.about{
    margin: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about .title{
    text-align: left;
}