.faq{
    margin: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-target{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faq-target_title_content{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: var(--blue-black-3);
    cursor: pointer;
}

.faq-target_title_content .faq-target_title,
.faq-target_title_content span{
    color: var(--white);
}

.faq-target_title_content span{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-target.active .faq-target_title_content span{
    rotate: -180deg;
}

.faq-target_content{
    color: var(--text-black-to-white);
    background: #d9d9d9;
    transition: var(--transition-250ms);
    height: 0;
    padding: 0 20px;
    overflow: hidden;
}

.dark-mode .faq-target_content{
    background: var(--blue-black-1);
}

.faq-target.active .faq-target_content{
    padding: 20px;
    height: auto;
}

@media screen and (max-width:600px){
    .faq-target_title_content{
        height: 120px;
    }
}