.Settings{
    position: fixed;
    right: -400px;
    top: 0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background: var(--body);
    border-left: 2px solid var(--light-gray-black-0);
    transition: var(--transition-250ms);
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.Settings.active{
    right: 0;
}

.SettingsMenu, .SettingsClose{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-bottom: 2px solid var(--light-gray-black-0);
}

.SettingsMenu li,
.SettingsClose li{
    width: 100%;
}

.MyProfileButton{
    width: 100%;
    display: flex;
}

.MyProfileButton span{
    color: var(--text);
    font-size: 24px;
    margin: auto;
}

.SettingsMenuButton,
.SettingsCloseButton{
    width: 100% !important;
    transition: var(--transition-250ms);
}

.SettingsMenuButton.active,
.SettingsMenuButton:hover{
    background: var(--message);
}

.MyProfileInfo{
    background: var(--body);
    transition: var(--transition-250ms);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    gap: 20px;
    padding: 10px;
}

.MyProfileInfo::-webkit-scrollbar{
    width: 3px;
}

.MyProfileInfo::-webkit-scrollbar-thumb{
    background: var(--gray);
}

.Profile{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    display: none;
}

.ProfilePhoto{
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: relative;
}

.ProfilePhotoImg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#ProfilePhotoImgInput{
    position: none;
    user-select: none;
    opacity: 0;
}

.ProfilePhotoImgInput{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #FFFFFF50;
}

.ProfilePhotoImgInput span{
    color: var(--white);
}

.ProfileData{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.MyProfileSettings{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.MyProfileSettingsTarget{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 50px;
    position: relative;
}

.MyProfileSettingsTargetIcon{
    width: 50px;
    height: 50px;
    color: var(--text);
    transition: var(--transition-250ms);
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyProfileSettingsSpan{
    position: absolute;
    left: 60px;
    top: -10px;
    background: var(--body);
    color: var(--text);
    transition: var(--transition-250ms);
    padding: 0 10px;
    font-size: 13px;
}

.MyProfileSettingsTarget input{
    width: calc(100% - 50px);
    height: 100%;
    background: var(--body);
    border: 2px solid var(--black-2-white);
    transition: var(--transition-250ms);
    color: var(--text);
    outline: 0;
    padding: 0 20px;
    border-radius: 5px;
}

.MyProfileSettingsTarget input::placeholder{
    color: var(--text);
}

select{
    width: calc(100% - 50px);
    height: 100%;
    padding: 0 20px;
    background: var(--body);
    transition: var(--transition-250ms);
    color: var(--text);
    border: 2px solid var(--black-2-white);
    border-radius: 5px;
    outline: 0;
}

select option{
    width: 100%;
    padding: 10px !important;
    padding: 0 20px;
    background: var(--light-gray-black-0);
    color: var(--text);
    cursor: pointer;
}

.SignOutButton{
    width: 100%;
    background: var(--light-gray-black-0);
}

.SettingsClose{
    margin-top: auto;
}

.SafeButton{
    background: var(--light-gray-black-0);
}

.CloseButton{
    border: 2px solid var(--black-2-white);
    background: var(--body);
}

@media screen and (max-width:600px){
    .Settings{
        max-width: none;
        right: -100%;
        border-left: none;
    }
}