.footer {
    background: var(--color-one);
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.footer-info{
    text-align: center;
}

.footer-info p{
    color: var(--white);
}