.Footer{
    background: var(--black-2);
    transition: var(--transition-250ms);
}

.footer{
    display: flex;
}

.footer p{
    margin: auto;
    color: var(--white);
    transition: var(--transition-250ms);
}

.dark-mode .Footer{
    background: var(--black-1);
}