.ServersTable{
    margin: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

table{
    width: 100%;
    background: var(--white);
}

.ServersTable table thead tr th{
    background: var(--header);
    height: 60px;
}

.ServersTable table thead tr th h2{
    color: var(--white);
}

.ServersTable table tbody tr td{
    height: 45px;
    background: var(--blue-to-black);
    text-align: center;
    color: var(--white);
}

.ServersTable table tbody tr td a{
    color: var(--white);
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars span{
    color: #f90;
    font-size: 15px;
}