.Login, .SignUp{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--body);
    transition: var(--transition-250ms);
}

#Login, #SignUp{
    width: 100%;
    display: flex;
    min-height: 100vh;
}

.login, .signup{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.login-target, .signup-target{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-target_1 img, .signup-target img{
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.login-img-dark{
    display: none;
}

.dark-mode .login-img-dark{
    display: block;
}

.dark-mode .login-img-light{
    display: none;
}

.login-target_2 p, .signup-target_2 p{
    margin-bottom: 30px;
}

@media screen and (max-width:600px){
    .login, .signup{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .login-target_1, .signup-target_1{
        display: none;
    }
}