.signUp-bg{
    width: 100%;
    height: 100vh;
    background:  var(--black-2);
    padding: 20px;
    display: flex;
}

.signUp{
    margin: auto;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background: var(--black-1);
}

.signUp p{
    width: 100%;
    text-align: center;
    color: var(--white);
    margin-bottom: 20px;
}

.submit{
    background: var(--white);
}

.submit span{
    color: var(--black-2);
}

.signUp-cancel{
    background: var(--black-1);
    border: 1px solid var(--white);
}

.signUp-cancel span{
    color: var(--white);
}