.SearchBar{
    width: 100%;
    padding: 20px;
    display: flex;
    background: var(--body);
}

.SearchBar input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    background: var(--white-black-3);
    color: var(--text);
    border: 1px solid var(--gray);
}

.SearchBar input::placeholder{
    color: var(--gray);
}

.SearchBar input:focus{
    box-shadow: var(--shadow-gray-to-white);
}