@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*General styles*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

img{
    pointer-events: none;
    user-select: none;
}

/*Root styles*/

:root{
    --body:#FFFFFF;
    --text:#222222;

    --black-1:#111111;
    --black-2:#222222;
    --black-2-white:#222222;

    --white:#FFFFFF;
    --white-black-2:#FFFFFF;

    --transition-250ms: all 250ms linear;
}

/*Dark mode styles*/

.dark-mode{
    --body:#222222;
    --text:#FFFFFF;

    --black-2:#222222;
    --black-2-white:#FFFFFF;

    --white-black-2:#222222;
}

/*Body*/

body{
    background: var(--body);
    transition: var(--transition-250ms);
}

/*General styles - Components*/

.block-container{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    padding: 20px;
}

/**/

.form{
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.login-form_target{
    position: relative;
    height: 50px;
    border: 0;
    outline: 0;
}

.form-icon{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--black-2-white);
    transition: var(--transition-250ms);
    color: var(--text);
    border-radius: 5px;
    outline: none;
    background: none;
    padding: 0 50px;
    z-index: 1;
}

.form-label{
    position: absolute;
    left: 50px;
    top: 50%;
    translate: 0 -50%;
    padding: 2px 10px;
    background: var(--body);
    transition: var(--transition-250ms);
    user-select: none;
    cursor: text;
    z-index: 5;}

.form-input:focus + .form-label{
    width: auto;
    height: 20px;
    top: -10px;
    left: 50px;
    translate: 0 0;
    font-size: 12px;
    color: var(--text);
}

.form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
    width: auto;
    height: 20px;
    top: -10px;
    left: 50px;
    translate: 0 0;
    font-size: 12px;
    color: var(--text);
    z-index: 10;
}

.form-input:focus{
    border: 2px solid var(--black-2-white);
}

.button-submit{
    border-radius: 5px;
}

/**/

.subtitle{
    font-size: 40px;
}

.text{
    color: var(--text);
    transition: var(--transition-250ms);
}

/*Buttons*/

button, .button-link{
    width: auto;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: none;
    transition: var(--transition-250ms);
    display: flex;
}

.button-link_text{
    margin: auto;
    transition: var(--transition-250ms);
}

.button-link-bg_black-2_white{
    background: var(--black-2-white);
}

.button-link-bg_black-2_white .button-link_text{
    color: var(--white-black-2);
}

.button-link-bg_white_black_1{
    background: var(--body);
    border: 2px solid var(--black-2-white);
}

.button-link-bg_white_black_1 .button-link_text{
    color: var(--text);
}