@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 90px;
}

body::-webkit-scrollbar{
    display: none;
}

:root{
    --body: #FFFFFF;
    --header: #00487c;
    --hero: #005fa3;

    --blue: #005fa3;
    --blue-to-white: #005fa3;
    --blue-to-black: #005fa3;
    
    --text-blue: #005fa3;
    --text:#222;

    --blue-black-1: #005fa3;
    --blue-black-2: #005fa3;
    --blue-black-3: #005fa3;

    --black:#0000000;
    --black-1:#111111;
    --black-2:#222222;
    --black-3:#333333;

    --black-0-white: #222222;
    --black-1-white: #222222;
    --black-2-white: #222222;
    --black-3-white: #222222;

    --text-black-to-white: #222222;

    --message: #e9e9e9;

    --color-one: #005fa3;

    --white:#ffffff;
    --white-black-1: #FFFFFF;
    --white-black-2: #FFFFFF;
    --white-black-3: #FFFFFF;

    --chat-target: #e9e9e9;
    --gray:#808080;
}

.dark-mode{
    --body: #222;
    --header: #333;
    --hero: #111;

    --text-black-to-white: #FFFFFF;

    --blue-to-white: #FFFFFF;
    --blue-to-black: #111111;

    --black-0:#000000;
    --black-1:#111111;
    --black-2:#222222;
    --black-3:#333333;

    --black-0-white: #000000;
    --black-1-white: #111111;
    --black-2-white: #222222;
    --black-3-white: #333333;

    --blue-black-1: #111111;
    --blue-black-2: #222222;
    --blue-black-3: #333333;

    --white-black-0: #000000;
    --white-black-1: #111111;
    --white-black-2: #222222;
    --white-black-3: #333333;

    --text:#FFFFFF;

    --chat-target: #333333;

    --message: #111111;
    --gray:#FFFFFF;
}

body{
    background: var(--body);
}

h1, h2, h3, h4, h5, h6{
    font-size: unset;
}

.text{
    color: var(--text);
}

button, .button{
    cursor: pointer;
    border: 0;
    outline: 0;
    background: transparent;
}

.button-link{
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
    transition: var(--transition-250ms-linear);
    cursor: pointer;
}

.button-link_text{
    transition: var(--transition-250ms-linear);
}

.button-link_icon{
    transition: var(--transition-250ms-linear);
}

.button-link-bg-blue{
    background: var(--blue-black-1);
    border: 2px solid var(--white);
}

.button-link-bg-blue:hover{
    background: var(--white);
}

.button-link-bg-blue:hover .button-link_text,
.button-link-bg-blue:hover .button-link_icon{
    color: var(--blue-black-1)
}

.button-link-bg-blue .button-link_text,
.button-link-bg-blue .button-link_icon{
    color: var(--white);
}

.button-link-bg-white{
    background: var(--white);
}

.button-link-bg-white .button-link_text,
.button-link-bg-white .button-link_icon{
    color: var(--blue-black-2);
}

/**/

.block-container{
    width: 100%;
    display: flex;
    padding: 20px;
}

.title{
    width: 100%;
    color: var(--blue-to-white);
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle{
    width: 100%;
    text-align: left;
    font-size: 25px;
    color: var(--blue-to-white);
}

.text{
    color: var(--text);
}