@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 90px;
}

body::-webkit-scrollbar{
    display: none;
}

:root{
    --body:#fff;
    --header: #00487c;

    --color-one: #005fa3;
    --color-two:#0e0e52;
    --white:#ffffff;
    --black:#222222;

    --transition-250ms-linear: all 250ms linear;
}

.App{
    background: var(--body);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-size: unset;
}

button, .button{
    cursor: pointer;
    border: 0;
    outline: 0;
    background: transparent;
}

.button-link{
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
    transition: var(--transition-250ms-linear);
    cursor: pointer;
}

.button-link_text{
    transition: var(--transition-250ms-linear);
}

.button-link_white{
    border: 2px solid var(--white);
    background: transparent;
}

.button-link_white:hover{
    background: var(--white);
    box-shadow: 5px 5px 0 #ffffff50;
}

.button-link_white .button-link_text{
    color: var(--white);
}

.button-link_white:hover .button-link_text{
    color: var(--color-one);
}

.button-link_bg_white{
    background: var(--white);
}

.button-link_bg_white:hover{
    box-shadow: 5px 5px 0 #ffffff50;
}

.button-link_bg_white .button-link_icon{
    color: var(--color-one);
}

.button-link_bg_white .button-link_text{
    color: var(--color-one);
}

.button-link_blue{
    border: 2px solid var(--color-one);
}

.button-link_blue .button-link_text{
    color: var(--color-one);
}

.button-link_blue:hover{
    background: var(--color-one);
    box-shadow: 5px 5px 0 #00000060;
}

.button-link_blue:hover .button-link_text{
    color: var(--white);
}

.button-link_bg_blue:hover{
    box-shadow: 5px 5px 0 #00000060;
}

.button-link_bg_blue{
    background: var(--color-one);
}

.button-link_bg_blue .button-link_text{
    color: var(--white);
}

.button-link_bg_blue:hover{
    box-shadow: 5px 5px 0 #00000060;
}

/**/

.block-container{
    width: 100%;
    display: flex;
    padding: 20px;
}

@media screen and (max-width:600px){
    .button-link{
        height: 45px;
    }
}