.hero{
    margin: 20px auto;
    width: calc(100% - 40px);
    max-width: 2000px;
    height: calc(100vh - 125px);
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: var(--header);
    border-radius: 25px;
    padding: 20px;;
}

.hero h2, .hero h2 b{
    width: 100%;
    max-width: 550px;
    font-size: 40px;
    color: var(--white);
}

.hero h2 b{
    text-decoration: underline;
}

.hero img{
    height: calc(100% - 100px);
}