.ChatBarLeft{
    position: fixed;
    left: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--gray);
    z-index: 55;
}

.dark-mode .ChatBarLeft{
    border-right: 1px solid var(--black-0);
}

.ChatList_header{
    width: 100%;
    height: 90px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white-black-3);
}

.ChatList_header .subtitle{
    width: auto;
    text-align: left;
    color: var(--text);
}

@media screen and (max-width:600px){
    .ChatBarLeft{
        width: 100%;
    }
}