.ChatBarLeft{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 2px solid var(--light-gray-black-0);
    z-index: 0;
}

.ChatList_header{
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--body);
    transition: var(--transition-250ms);
}

.ChatList_header .subtitle{
    font-size: 30px;
    width: auto;
    text-align: left;
    color: var(--text);
}

@media screen and (max-width:600px){
    .ChatBarLeft{
        width: 100%;
        max-width: none;
        border-right: none;
    }
}